/* This is external stylesheet and this is the best practice. */

/* Every paragraph tag will get this styling (element selector) */

p {
    text-align: center;
    color: blue;
}

/* every element with id = div1 will get this styling id use '#' */
#div1{
    border: solid 5px green; /*border is a visible border*/
    border-radius: 25px;
    padding: 10px; /*padding applies space between the border and content*/
}

/*every element with class = header will get this styling*/
.header{
    margin: 100px; /* margin makes a space between an element and its neighnors*/
    background-color: darkcyan;
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}
* {
    background-color: beige;
}

#checkContainer{
    display: flex;
    flex-direction: column;

}