/*This is an external stylesheet - this is the best practice when styling HTML with CSS*/

/*Every paragraph tag will get this styling (element selector)*/
p {
    text-align: center;
    color:blue;
}

/*every element with id = div1 will get this styling*/
#div1 {
    border: solid 5px green; /*border is a visible border*/
    border-radius: 25px;
    padding: 50px; /*padding applies space between the border and the content*/
}

/*every element with class = headers will get this styling*/
.headers {
    margin: 100px; /*margin makes space between an element and its neighbors*/
    background-color:darkcyan;
    font-family:cursive;
    font-weight: bolder;
    font-style: italic;
    font-size: xx-large;
    text-align: right;
}

/*Every element will get this styling (universal selector)*/
* {
    background-color: lightsalmon;
}

#checkboxContainer {
    display:flex; /*This allows us to use flexbox stylings*/
    flex-direction:row-reverse;
    justify-content: center;
    gap: 75px;
}